* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}


.navbar a { 
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .4s;
}

.navbar a:hover,
.navbar a.active {
    color: #04D9FF;
}

.home {
    display: flex;
    align-items: center;
    height:100vh;
    padding: 0 10%;
    background-image: url(photos/gear5.png);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right;
    
}

.home-content{ 
    max-width: 700px;
}

.home-content h1 {
    font-size: 55px;
    font-weight: 700;
}

.home-content h2 {
    padding: 10px 0 10px 0;
    font-size: 35px;
    font-weight: 300;
    color: #04D9FF;
}

.home-content h3 {
    padding: 5px 0 5px 0;
    font-size: 30px;
    font-weight: 200;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 5px 0;
    width: 350px;
    height: 50px;
    
}

.btn-box a {
    margin: 8px 0 0 0;
    color: #04D9FF;
    width: 150px;
    height: 100%;
    background-color: transparent;
    border: 2px solid #04D9Ff;
    border-radius: 8px;
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
    font-weight: 600;
}

.btn-box a:hover{
    color: white;
    transition: .3s;

}
/*------------------------------------------------*/

/*About Me Page*/

.page {
    background: linear-gradient(90deg, #ff6b6b, #ffe66d, #45cea2);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;

}

.main {
    max-width: 600px;
}

.sub-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.sub-main h1{
    font-size: 60px;
    color: #ff6b6b;

}

.sub-main h2 {
    font-size: 30px;;
    color: #45cea2;
    font-weight: 400;
}

.sub-main p {
    padding-top: 10px;
    font-size: 23px;
    font-weight: 600;
    
}

.sub-main video{
    padding-top: 10%;
    width: 100%;
}

.sub-main img{
    width: 230px;
}



