<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>

    <!-- CSS file in the "public" folder -->
    <link rel="stylesheet" type="text/css" href="/styles/style.css">

     <!-- JavaScript file in the "public" folder -->
     <script src="/scripts/script.js"></script>

</head>

<body class="page">

    <header class="header">
        <a href="#" class="logo">
            <img src="hat.png" alt="StrawHat" width="53px">
        </a>

        <!-- Created a Navigation Bar for the other pages -->
        <nav class="navbar">
            <a href="index.html" class="active">Home</a>
            <a href="AboutMe.html">About Me</a>
            <a href="ContactMe.html">Contact Me</a>
        </nav>
    </header>

    <!-- Main Section for the information -->
    <section class="main">
        <div class="sub-main">
            <img src="Will.png" alt="Will Smith's Face">
            <h1>Yo, it's <%= userName %>!</h1>
            <h2>About Me</h2>
            <p>Hey there, <br>
                I go by <%= userName %>, and I'm super duper stoked to have you stepping into my digital playground.
                Life's a wild ride, and I find my kicks on the basketball court, diving deep into mind-bending TV series, and conquering epic video game quests.
                But my main gig? It's all about chasing that elusive contentment, embracing every plot twist and turn as the chapters of my own epic saga, man. <br>
                Thanks for hitching a ride on this journey; Catch you on the flip side;)
            </p>
            <video src="Never_gonna_Meow_you_up.mp4" controls></video>
        </div>
    </section>
</body>
</html>
