<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <link rel="stylesheet" href="style.css">
</head>

<body class="main1">

    <header class="header">
        <a href="#" class="logo">
            <img src="hat.png" alt="StrawHat" width="53px">
        </a>

        <!-- Created a Navigation Bar for the other pages -->
        <nav class="navbar">
            <a href="index.html" class="active">Home</a>
            <a href="AboutMe.html">About Me</a>
            <a href="ContactMe.html">Contact Me</a>
        </nav>
    </header>

    <!-- Created The Contact Box For User Inquiries -->
    <div class="container">
        <h1>Contact Me</h1>
        <p>Please feel free to reach out for any queries or concerns. We'll get back to you as soon as possible!</p>
        <div class="contact-box">
            <div class="main-contact">
                <h3>Send Your Request</h3>

                <form>

                    <div class="input-r">

                        <div class="input-g">
                            <label>Full Name</label>
                            <input type="text" placeholder="Anas Hussain">
                        </div>

                        <div class="input-g">
                            <label>Email</label>
                            <input type="text" placeholder="Anas.Hussain@lol.com">
                        </div>

                        <div class="input-g">
                            <label>Phone</label>
                            <input type="text" placeholder="(416)-782-9024">
                        </div>

                        <div class="input-g">
                            <label>Subject</label>
                            <input type="text" placeholder="Inquiry...">
                        </div>

                    </div>

                    <label>Message</label>
                    <textarea rows="10" placeholder="Your Message..."></textarea>

                    <button type="submit">SEND</button>

                </form>
            </div>
        </div>
    </div>

    <footer class="end">
        <p>&copy; 2023 My Project. All rights reserved.</p>
    </footer>
</body>
</html>
